DATABASE_URL=mysql://seu_usuario:sua_senha@localhost:3306/mydoctorpal
AUTH_SECRET="QxGbKoVjTtmzTZbM+Qvstjlb2iP1eybFpyx2vNV7oro=" # Added by `npx auth`. Read more: https://cli.authjs.dev // ao rodar npx auth secret ele cria um para você
